<!DOCTYPE html>
<html>
<head>
    <title>Room Information</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Grilli - Amazing & Delicious Food">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="preload" as="image" src="{{ url_for('static', filename='images/hero-slider-1.jpg') }}">
    <link rel="preload" as="image" src="{{ url_for('static', filename='images/hero-slider-2.jpg') }}">
    <link rel="preload" as="image" src="{{ url_for('static', filename='images/hero-slider-3.jpg') }}">
  
</head>
<body>

    <div class="preload" data-preaload>
        <div class="circle"></div>
      </div>
    
      <div class="topbar">
        <div class="container">
          <address class="topbar-item">
            <div class="icon">
              <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
            </div>
            <span class="span">
              Woodlands, New York
            </span>
          </address>
          <div class="separator"></div>
          <div class="topbar-item item-2">
            <div class="icon">
              <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
            </div>
            <span class="span">Daily : 8.00 am to 11.00 pm</span>
          </div>
          <a href="tel:+91234567890" class="topbar-item link">
            <div class="icon">
              <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
            </div>
            <span class="span">+9876543210</span>
          </a>
          <div class="separator"></div>
          <a href="mailto:booking@restaurant.com" class="topbar-item link">
            <div class="icon">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
            </div>
            <span class="span">booking@restaurant.com</span>
          </a>
          <div class="separator"></div>
          <a href="{{ url_for('logout') }}"><h5>Sign Out</h5></a>
        </div>
      </div>
    
      <header class="header" data-header>
        <div class="container">
          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" width="160" height="50" alt="Grilli - Home">
          </a>
          <nav class="navbar" data-navbar>
            <button class="close-btn" aria-label="close menu" data-nav-toggler>
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
            <a href="#" class="logo">
              <img src="{{ url_for('static', filename='images/logo.svg') }}" width="160" height="50" alt="Grilli - Home">
            </a>
            <ul class="navbar-list">
              <li class="navbar-item">
                <a href="#home" class="navbar-link hover-underline active">
                  <div class="separator"></div>
                  <span class="span">Home</span>
                </a>
              </li>
              <li class="navbar-item">
                <a href="#about" class="navbar-link hover-underline">
                  <div class="separator"></div>
                  <span class="span">About Us</span>
                </a>
              </li>
              <li class="navbar-item">
                <a href="{{ url_for('room_info') }}#room" class="navbar-link hover-underline">
                  <div class="separator"></div>
                  <span class="span">Rooms</span>
                </a>
              </li>
          {% if is_admin %}
          <li class="navbar-item">
            <a href="{{ url_for('customer_info') }}" class="navbar-link hover-underline">
              <div class="separator"></div>
              <span class="span">Customer Info</span>
            </a>
          </li>
          {% else %}
          <li class="navbar-item">
                <a href="#footer" class="navbar-link hover-underline">
                  <div class="separator"></div>
                  <span class="span">Contact</span>
                </a>
              </li>
          {% endif %}
            </ul>
            <div class="text-center">
              <p class="headline-1 navbar-title">Visit Us</p>
              <address class="body-4">
                Woodlanda<br>
                New York
              </address>
              <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p>
    
              <a href="mailto:booking@grilli.com" class="body-4 sidebar-link">booking@grilli.com</a>
    
              <div class="separator"></div>
    
              <p class="contact-label">Booking Request</p>
    
              <a href="tel:+88123123456" class="body-1 contact-number hover-underline">
                +9123123456
              </a>
            </div>
          </nav>
    
          <a href="{{ url_for('make_reservation') }}#make" class="btn btn-secondary">
            <span class="text text-1">Book A Room</span>
            <span class="text text-2" aria-hidden="true">Book A Room</span>
          </a>
          {% if is_admin %}
          <a href="{{ url_for('checkout') }}#checkout" class="btn btn-secondary">
            <span class="text text-1">Checkout</span>
            <span class="text text-2" aria-hidden="true">Checkout</span>
          </a>
          {% endif %}
          <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
          <div class="overlay" data-nav-toggler data-overlay></div>
        </div>
      </header>

      <main>
        <article>
          <section class="hero text-center" aria-label="home" id="home">
            <ul class="hero-slider" data-hero-slider>
              <li class="slider-item active" data-hero-slider-item>
                <div class="slider-bg">
                  <img src="{{ url_for('static', filename='images/hotel1.png') }}" width="1880" height="950" alt="" class="img-coverr">
                </div>
                <p class="label-2 section-subtitle slider-reveal">Tradational & Hygiene</p>
                <h1 class="display-1 hero-title slider-reveal">
                  Stay once,  <br>
                  carry memories forever
                </h1>
                <p class="body-2 hero-text slider-reveal">
                  Come with family & feel the joy
                </p>
                <a href="#menu" class="btn btn-primary slider-reveal">
                  <span class="text text-1">View Our Rooms</span>
                  <span class="text text-2" aria-hidden="true">View Our Rooms</span>
                </a>
              </li>
              <li class="slider-item" data-hero-slider-item>
                <div class="slider-bg">
                  <img src="{{ url_for('static', filename='images/hotel2.png') }}" width="1880" height="950" alt="" class="img-coverr">
                </div>
                <p class="label-2 section-subtitle slider-reveal">delightful experience</p>
                <h1 class="display-1 hero-title slider-reveal">
                  The perfect place  <br>
                  for getaways!
                </h1>
                <p class="body-2 hero-text slider-reveal">
                  Come with family & feel the joy
                </p>
                <a href="#" class="btn btn-primary slider-reveal">
                  <span class="text text-1">View Our Rooms</span>
                  <span class="text text-2" aria-hidden="true">View Our Rooms</span>
                </a>
              </li>
              <li class="slider-item" data-hero-slider-item>
                <div class="slider-bg">
                  <img src="{{ url_for('static', filename='images/hotel3.png') }}" width="1880" height="950" alt="" class="img-coverr" filter="brightness(50%)">
                </div>
                <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>
                <h1 class="display-1 hero-title slider-reveal">
                  One step close <br>
                  to Paradise.
                </h1>
                <p class="body-2 hero-text slider-reveal">
                  Come with family & feel the joy
                </p>
                <a href="#menu" class="btn btn-primary slider-reveal">
                  <span class="text text-1">View Our Rooms</span>
                  <span class="text text-2" aria-hidden="true">View Our Rooms</span>
                </a>
              </li>
            </ul>
            <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
              <ion-icon name="chevron-back"></ion-icon>
            </button>
            <button class="slider-btn next" aria-label="slide to next" data-next-btn>
              <ion-icon name="chevron-forward"></ion-icon>
            </button>
            <a href="{{ url_for('room_info') }}#room" class="hero-btn has-after">
              <img src="{{ url_for('static', filename='images/hero-icon.png') }}" width="48" height="48" alt="booking icon">
              <span class="label-2 text-center span">Book A Room</span>
            </a>
          </section>


    {% if is_admin %}
    <br><br><br><br>
    <div class="ex">
          <div class="btn size btn-secondary">
            <span class="text text-1">Number of rooms booked</span>
            <span class="text text-2" aria-hidden="true">{{ result }}</span>
          </div>
          <div class="btn size btn-secondary">
            <span class="text text-1">Total Revenue This Month</span>
            <span class="text text-2" aria-hidden="true">₹{{ result1 }}</span>
          </div>
        </div>
          <br><br><br><hr><hr><br><br>
        
    {% endif %}
    
    <h1 style="text-align: center;" id="room">Room Information</h1>

    <form method="POST" action="/room_info">
      <div class="form-content">
      <div class="data options">
        <div class="data acc">
          <label for="Ac">AC:</label>
          <select name="Ac" id="Ac">
              <option value="">All</option>
              <option value="1" {% if Ac == '1' %}selected{% endif %}>AC</option>
              <option value="0" {% if Ac == '0' %}selected{% endif %}>Non-AC</option>
          </select>
        </div>
        <div class="data pricee">
          <label for="Price">Price (Max):</label>
          <input type="number" name="Price" id="Price" value="{{ Price }}">
        </div>
        
    </div>
        

        <div class="data date-range">
          <div class="check-inn">
            <label for="Checkin_Date">Check-In Date:</label>
            <input type="date" name="Checkin_Date" id="Checkin_Date" required pattern="\d{2}-\d{2}-\d{4}">
          </div>
          <div class="check-outt">
            <label for="Checkout_Date">Check-Out Date:</label>
            <input type="date" name="Checkout_Date" id="Checkout_Date" required pattern="\d{2}-\d{2}-\d{4}">
          </div>
      </div>

      <button class="btn btn-secondary check1" type = "submit">
        <span class="text text-1">Apply Filters</span>
        <span class="text text-2" aria-hidden="true">Apply Filters</span>
    </button>
  </div>

    </form>

    <table>
        <tr>
            <th>Room No</th>
            <th>Description</th>
            <th>Price</th>
            <!-- Add more <th> elements for additional attributes -->
        </tr>
        {% for room in room_data %}
        <tr>
            <td>{{ room[0] }}</td>
            <td>{{ room[1] }}</td>
            <td>{{ room[3] }}</td>
            <!-- Add more <td> elements for additional attributes -->
        </tr>
        {% endfor %}
    </table>

    {% if is_admin %}
    <button id="showUpdateFormBtn" class="btn btn-secondary check11">
      <span class="text text-1">Update Room Info</span>
      <span class="text text-2" aria-hidden="true">Update Room Info</span>
    </button>
    <form id="updateRoomForm" method="POST" action="{{ url_for('update_room') }}" style="display: none;">
  <div class="form-contentt">
    <div class="data room-id">
      <label for="roomID">Room No:</label>
      <input type="text" name="roomID" id="roomID" required>
    </div>
    <div class="data description">
      <label for="newDescription">New Description:</label>
      <input type="text" name="newDescription" id="newDescription" required>
    </div>
    <div class="aab">
      <label for="newPrice">New Price:</label>
      <input type="number" name="newPrice" id="newPrice" step="0.01" required>
    </div>
    <div class="ab">
      <label for="newAc">New AC:</label>
      <select name="newAc" id="newAc">
        <option value="0">Non-AC</option>
        <option value="1">AC</option>
      </select>
    </div>
  </div>

  <button class="btn btn-secondary check11" type="submit">
    <span class="text text-1">Update Room Info</span>
    <span class="text text-2" aria-hidden="true">Update Room Info</span>
  </button>
</form>
{% endif %}



    <footer class="footer section has-bg-image text-center" id="footer"
    style="background-image: url('./assets/images/footer-bg.jpg')">
    <div class="container">
      <div class="footer-top grid-list">
        <div class="footer-brand has-before has-after">
          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" width="160" height="50" loading="lazy" alt="grilli home">
          </a>
          <address class="body-4">
            Woodlands, New York
          </address>
          <a href="mailto:booking@grilli.com" class="body-4 contact-link">booking@grilli.com</a>
          <a href="tel:+88123123456" class="body-4 contact-link">Booking Request : +9876543210</a>
          <p class="body-4">
            Open : 09:00 am - 01:00 pm
          </p>
          <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
          </div>
          <p class="title-1">Get News & Offers</p>
          <p class="label-1">
            Subscribe us & Get <span class="span">25% Off.</span>
          </p>
 
        </div>
        <ul class="footer-list">
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Home</a>
          </li>
          <li>
            <a href="#menu" class="label-2 footer-link hover-underline">Menus</a>
          </li>
          <li>
            <a href="#about" class="label-2 footer-link hover-underline">About Us</a>
          </li>
          <li>
            <a href="#footer" class="label-2 footer-link hover-underline">Contact</a>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
          </li>
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
          </li>
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Twitter</a>
          </li>
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Youtube</a>
          </li>
          <li>
            <a href="#" class="label-2 footer-link hover-underline">Google Map</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p class="copyright">
          &copy; Grilli. All Rights Reserved
        </p>
      </div>
    </div>
  </footer>


  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    document.getElementById('showUpdateFormBtn').addEventListener('click', function() {
      document.getElementById('updateRoomForm').style.display = 'block';
    });
  </script>
</body>
</html>
